*{
    margin: 0;
    font-family: plus jakarta sans;
}

/* header */
header{
    background-color: #F8FAFC;
}
header article{
    max-width: 1152px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    align-items: center;

}
header a{
    text-decoration: none;
}
.hd1 i{
    background-color: #4f46e5;
    border-radius: 15px;
    color: #fff;
    padding: 10px;
    margin-right: 8px;
}
.hd1 a{
    color: #000;
    font-size: 24px;
    font-weight: 800;
}
.hd2 a{
    color: #475569;
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
}
.hd3 a{
    
    background-color: #000;
    border-radius: 20px;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
}


/* Footer */

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0F172A;
    padding: 70px;
}

footer div a, footer p{
    text-decoration: none;
    color: #94A3B8;
    padding: 15px;
}
footer>a{
    color:#fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}
footer span{
    font-size: 12px;
    background-color: #4f46e5;
    padding: 10px 15px;
    border-radius: 7px;
    margin-right: 10px;
    position: relative;
    bottom: 5px;
}
