*{
    margin: 0;
    font-family: plus jakarta sans;
}

/* header */
header{
    background-color: #F8FAFC;
}
header article{
    max-width: 1152px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    align-items: center;

}
header a{
    text-decoration: none;
}
.hd1 i{
    background-color: #4f46e5;
    border-radius: 15px;
    color: #fff;
    padding: 10px;
    margin-right: 8px;
}
.hd1 a{
    color: #000;
    font-size: 24px;
    font-weight: 800;
}
.hd2 a{
    color: #475569;
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
}
.hd3 a{
    
    background-color: #000;
    border-radius: 20px;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
}

/* main */
.s1{
     background-color: #F8FAFC;
}
.s1>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1152px;
    margin: auto;
    gap: 110px;
}
.s1p1{
    background-color: #E0E7FF;
    color: #4338ca;
    border-radius: 20px;
    font-weight: 700;
    font-style: italic;
    font-size: 14px;
    max-width: fit-content;
    padding: 10px 15px;
}
.s1 h1{
    font-size: 72px;
    font-weight: 800;
    padding: 24px 0;
    line-height: 70px;
}
.s1 span{
    color: #4f46e5;
}
.s1p2{
    font-size: 20px;
    color: #475569;
    line-height: 34px;
    padding-bottom: 44px;
}
.s1 img{
    width: 100%;
}
.s1 a{
    text-decoration: none;
    font-size: 16px;
}
.apple{
    background-color: #0F172A;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    margin-right: 15px;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: #1d7af3;
        color: #fff;
        transition: all 0.3s ease-in-out;
    }
}
.google{
    color: #0F172A;
    border: solid 2px #e2e8f0;
    padding: 20px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    &:hover{
        color: #fff;
        background-color: #4285F4;
        background: linear-gradient(90deg,rgba(66, 133, 244, 1) 15%, rgba(15, 157, 88, 1) 50%, rgba(244, 180, 0, 1) 87%, rgba(219, 68, 55, 1) 99%);;
        border: none;
        transition: all 0.3s ease-in-out;
    }
}

.s2{
    max-width: 1152px;
    margin: auto;
    padding: 60px 0;
}
.s2d1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s2d1 h2{
    padding: 20px;
    font-size: 26px;
    font-weight: 800;
    color: #0F172A;
}
.s2d1 p{
    color: #64748B;
    line-height: 24px;
    max-width: 672px;
    margin: auto;
    text-align: center;
}
.s2d2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    padding: 70px;
}
.s2d2 h3{
    padding: 20px 0;
    color: #0F172A;
    font-weight: 800;
    font-size: 20px;
}
.s2d2 p{
    color: #475569;
    font-size: 14px;
    line-height: 22.75px;
}
.fa-triangle-exclamation{
    color: #ea580c;
    background-color: #ffedd5;
    padding: 10px;
    border-radius: 8px;
}
.fa-cloud{
    color: #2563EB;
    background-color: #DCFCE7;
    padding: 10px;
    border-radius: 8px;
}
.fa-book-open{
    color: #9333EA;
    background-color: #F3E8FF;
    padding: 10px;
    border-radius: 8px;
}
.s3{
    display: block;
    background-color: #F8FAFC;
    padding: 60px 0;
}
.s3 div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 60px;
    margin: auto;
    max-width: 1104px;
}
.s3 img{
    width: fit-content;
}
/* Footer */

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0F172A;
    padding: 70px;
}

footer div a, footer p{
    text-decoration: none;
    color: #94A3B8;
    padding: 15px;
}
footer>a{
    color:#fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}
footer span{
    font-size: 12px;
    background-color: #4f46e5;
    padding: 10px 15px;
    border-radius: 7px;
    margin-right: 10px;
    position: relative;
    bottom: 5px;
}
